<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>

<h1>Student Management System</h1>

    <select id = operations>
        <option value="">Select Opetion</option>
        <option value="List all students">List all students</option>
        <option value="Search a student">Search a student</option>
        <option value="Add a student">Add a student</option>
        <option value="Remove/Delete a student">Remove/delete a student</option>
    </select>

    <input type="text" id="nameField" name="name" placeholder="Student Name">
    
    <br></br>
    <button type="submit">
        Submit
    </button>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        const operation = document.getElementById("operation");
        const nameField = document.getElementById("nameField");
        
        function updateField() {
            if (operation.value === "list") {
                nameField.style.display="none";
                nameField.value = "";
            } else {
                nameField.style.display = "inline-block";
            }
        }
        operation.addEventListener("change", updateField)
        updateField();
    });
    </script>

</body>
</html>