<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>

<h1>Student Management System</h1>

    <select id = operations>
        <option value="">Select Opetion</option>
        <option value="list">List all students</option>
        <option value="search">Search a student</option>
        <option value="add">Add a student</option>
        <option value="delete">Remove/delete a student</option>
    </select>

    <input type="text" id="nameField" name="name" placeholder="Student Name">
    
    <br></br>
    <button type="submit">
        Submit
    </button>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        const operation = document.getElementById("operation");
        const nameField = document.getElementById("nameField");
        
        function updateField() {
            if (operation.value === "list") {
                nameField.style.display="none";
                nameField.value = "";
            } else {
                nameField.style.display = "inline-block";
            }
        }
        operation.addEventListener("change", updateField)
        updateField();
    });
    </script>

<div class="result-box">
    <h3>Resukt</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% else %}
            <p>No operation performed yet.</p>
        {% endif %}
    {% endwith %}

</div>
</body>
</html>